*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: #8a2be2 !important;
}

.card-header{
    background: #8a2be2;

}

.system-title, .btn-primary{
    background-color: #8a2be2 !important;
    border-color: #8a2be2 !important;
}

.btn-primary:hover{
    background-color: #691bb3 !important;
    border-color: #691bb3 !important;
}

input, select{
    box-shadow: none !important;
}

input:focus{
    border-color: #8a2be2 !important;
}

.card-body{
    color: #8a2be2;
}

